body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #111;
    color: white;
}

header {
    background: #222;
    padding: 20px;
    text-align: center;
}

.hero {
    padding: 40px;
    text-align: center;
}

section {
    padding: 30px;
}

footer {
    background: #222;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
